/* EditorPreferencesDialog */
dialog.preferences preferencesgroup flowboxchild {
  outline-offset: 2px;
  border-radius: 12px;
  padding: 0;
}

dialog.preferences preferencesgroup flowboxchild GtkSourceStyleSchemePreview {
  margin: 0;
}
dialog.preferences preferencesgroup flowboxchild GtkSourceStyleSchemePreview:not(.selected) {
  box-shadow: 0 0 0 1px alpha(black, 0.03),
              0 1px 3px 1px alpha(black, .07),
              0 2px 6px 2px alpha(black, .03);
}

popover button.pill.flat {
  padding: 0;
}

/* EditorThemeSelector */
window.org-gnome-TextEditor themeselector {
  margin: 9px;
}
window.org-gnome-TextEditor themeselector checkbutton {
  padding: 0;
  min-height: 44px;
  min-width: 44px;
  padding: 1px;
  background-clip: content-box;
  border-radius: 9999px;
  box-shadow: inset 0 0 0 1px @borders;
}
window.org-gnome-TextEditor themeselector checkbutton.follow:checked,
window.org-gnome-TextEditor themeselector checkbutton.light:checked,
window.org-gnome-TextEditor themeselector checkbutton.dark:checked {
  box-shadow: inset 0 0 0 2px @theme_selected_bg_color;
}
window.org-gnome-TextEditor themeselector checkbutton.follow {
  background-image: linear-gradient(to bottom right, #fff 49.99%, #202020 50.01%);
}
window.org-gnome-TextEditor themeselector checkbutton.light {
  background-color: #fff;
}
window.org-gnome-TextEditor themeselector checkbutton.dark {
  background-color: #202020;
}
window.org-gnome-TextEditor themeselector checkbutton radio {
  -gtk-icon-source: none;
  border: none;
  background: none;
  box-shadow: none;
  min-width: 12px;
  min-height: 12px;
  transform: translate(27px, 14px);
  padding: 2px;
}
window.org-gnome-TextEditor checkbutton.theme-selector radio:checked {
  -gtk-icon-source: -gtk-icontheme("object-select-symbolic");
  background-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
}


/* EditorOpenPopover */

window.org-gnome-TextEditor .open-popover contents {
  padding: 0;
}
window.org-gnome-TextEditor .open-popover listview {
  margin-bottom: 3px;
  background: none;
  color: inherit;
}
window.org-gnome-TextEditor .open-popover listview row {
  border-radius: 6px;
  margin: 3px 6px;
}
window.org-gnome-TextEditor .open-popover listview row:first-child {
  margin-top: 6px;
}
window.org-gnome-TextEditor .open-popover listview row button {
  padding: 3px;
  margin: 0;
  min-height: 24px;
  min-width: 24px;
}


/* EditorSearchBar */

window.org-gnome-TextEditor page .searchbar button.flat.circular {
  min-width: 24px;
  min-height: 24px;
  margin: 0px;
  padding: 3px;
}

EditorSourceMap {
  padding-left: 13px;
  padding-right: 13px;
}
EditorSourceMap:dir(ltr) {
  border-left: 1px solid alpha(@borders, .3);
}
EditorSourceMap:dir(rtl) {
  border-right: 1px solid alpha(@borders, .3);
}
EditorSourceMap textview.GtkSourceMap {
  background: transparent;
  font-family: BuilderBlocks;
  font-size: 1.75pt;
  line-height: 5px;
  margin: 0;
}
EditorSourceMap textview.GtkSourceMap slider {
  padding-left: 13px;
  padding-right: 13px;
  margin-left: -13px;
  margin-right: -13px;
}


box.statusbar {
  font-family: monospace;
  min-width: 100px;
  padding: 3px 12px;
  border-top: 1px solid @borders;
}


.language-dialog row {
  padding: 0;
}
.language-dialog row:last-child {
  border-bottom: 1px solid transparent;
}
.language-dialog label.placeholder {
  min-height: 55px; /* 50px min-height + 2 padding top/bottom + 1 border */
  margin-left: 12px;
  margin-right: 12px;
  padding-left: 2px;
  padding-right: 2px;
}

page positionlabel {
  border-radius: 8px;
  padding: 3px 12px;
  margin: 4px;
  background-color: var(--view-bg-color);
  box-shadow: inset 0 100px 0 0 color-mix(in srgb, currentColor 10%, transparent);
}

page positionlabel:backdrop {
  opacity: 0.7;
}

/* Always show "Location" row subtitle w/o desenstized visuals */
row.location.property .subtitle {
  filter: none;
}
