/* EditorPreferencesWindow */

.org-gnome-TextEditor.preferences frame {
  border-radius: 5px;
  background: @content_view_bg;
}
.org-gnome-TextEditor.preferences list {
  background: transparent;
}
.org-gnome-TextEditor.preferences list row {
  border-bottom: 1px solid alpha(@borders, .4);
}
.org-gnome-TextEditor.preferences list row:last-child {
  border-bottom: none;
}

.org-gnome-TextEditor.preferences .horizontal.linked .radio.text-button {
  padding: 0;
}
.org-gnome-TextEditor.preferences .horizontal.linked .radio.text-button label {
  padding: 4px 12px 4px 12px;
}


/* EditorWindow */

.org-gnome-TextEditor label.position-label {
  margin: 6px 8px;
  padding: 6px 12px;
  background-color: @borders;
  border-radius: 14px;
  color: alpha(currentColor, 0.9);
  font-size: 0.8333em;
  font-feature-settings: "tnum";
}
.org-gnome-TextEditor label.position-label:backdrop {
  background-color: alpha(@borders, 0.2);
}


/* FIXME: Work around GTK :focus propagation issue */
notebook:focus,
notebook:focus:backdrop {
  outline-color: transparent;
}


/* EditorSidebar */

.org-gnome-TextEditor sidebar,
.org-gnome-TextEditor sidebar list {
  background: transparent;
}
.org-gnome-TextEditor sidebar list row {
  border-bottom: 1px solid alpha(@borders, 0.4);
}
.org-gnome-TextEditor sidebar list row:last-child {
  border-bottom: 1px solid transparent;
}


/* EditorSearchBar */

.org-gnome-TextEditor page searchbar {
  background-image: linear-gradient(shade(@theme_bg_color,1.05), @theme_bg_color);
  padding: 6px;
  border-style: solid;
  border-color: @borders;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 0 3px @wm_shadow;
  margin: 0 10px 20px 10px;
}
.org-gnome-TextEditor page searchbar:backdrop {
  box-shadow: none;
}
.org-gnome-TextEditor page searchbar button.flat.circular {
  margin: 0;
  padding: 0;
}
