/* EditorWindow */
window.org-gnome-TextEditor positionlabel label {
  font-feature-settings: "tnum";
}


/* EditorPreferencesDialog */
window.org-gnome-TextEditor.preferences textview.preview {
  line-height: 1.2;
}


/* EditorThemeSelector */
window.org-gnome-TextEditor themeselector {
  margin: 9px;
}
window.org-gnome-TextEditor themeselector checkbutton {
  margin: 1px;
  padding: 0;
  min-height: 42px;
  min-width: 42px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 9999px;
}
window.org-gnome-TextEditor themeselector checkbutton.follow:checked,
window.org-gnome-TextEditor themeselector checkbutton.light:checked,
window.org-gnome-TextEditor themeselector checkbutton.dark:checked {
  border-color: @theme_selected_bg_color;
  border-width: 2px;
  margin: 0;
}
window.org-gnome-TextEditor themeselector checkbutton.follow {
  background: linear-gradient(to bottom right, #fff 50%, #2e3436 50%);
  border-color: #2e3436;
}
window.org-gnome-TextEditor themeselector.dark checkbutton.follow {
  border-color: #dcdddd;
}
window.org-gnome-TextEditor themeselector checkbutton.light {
  background-color: #fff;
  border-color: #dcdddd;
}
window.org-gnome-TextEditor themeselector checkbutton.dark {
  background-color: #2e3436;
  border-color: #000;
}
window.org-gnome-TextEditor themeselector checkbutton radio {
  -gtk-icon-source: none;
  border: none;
  background: none;
  box-shadow: none;
  min-width: 12px;
  min-height: 12px;
  margin: 24px -4px -4px 24px;
  padding: 2px;
}
window.org-gnome-TextEditor checkbutton.theme-selector radio:checked {
  -gtk-icon-source: -gtk-icontheme("object-select-symbolic");
  background-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
}


/* EditorOpenPopover */

window.org-gnome-TextEditor .open-popover contents {
  padding: 0;
}
window.org-gnome-TextEditor .open-popover list {
  margin-bottom: 3px;
}
window.org-gnome-TextEditor .open-popover list label.placeholder {
  min-height: 57px;
}
window.org-gnome-TextEditor .open-popover list row {
  border-radius: 9px;
  margin: 3px 6px;
}
window.org-gnome-TextEditor .open-popover list row:first-child {
  margin-top: 6px;
}
window.org-gnome-TextEditor .open-popover list row button {
  padding: 3px;
  margin: 0;
  min-height: 24px;
  min-width: 24px;
}
window.org-gnome-TextEditor .open-popover list row:hover,
window.org-gnome-TextEditor .open-popover list row:focus {
  background: alpha(currentColor, .07);
}


/* EditorSearchBar */

window.org-gnome-TextEditor page .searchbar {
  background-color: @popover_bg_color;
  color: @popover_fg_color;
  padding: 6px;
  border-style: solid;
  border-color: @borders;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.09);
  margin: 0 10px 20px 10px;
}
window.org-gnome-TextEditor page .searchbar:backdrop {
  box-shadow: none;
}
window.org-gnome-TextEditor page .searchbar button.flat.circular {
  min-width: 24px;
  min-height: 24px;
  margin: 0px;
  padding: 3px;
}

textview.source-map slider {
  border-radius: 7px;
  margin: 0 3px;
}

textview.source-map {
  font-family: BuilderBlocks;
  font-size: 1.75pt;
  line-height: 5px;
}
textview.source-map:dir(ltr) {
  border-left: 1px solid @borders;
}
textview.source-map:dir(rtl) {
  border-right: 1px solid @borders;
}

flap > scrolledwindow.preferences > viewport {
  background: @theme_bg_color;
}

box.statusbar {
  font-family: monospace;
  min-width: 100px;
  padding: 3px 12px;
  background: @theme_bg_color;
  border-top: 1px solid @borders;
}


window.org-gnome-TextEditor.language-dialog row:last-child {
  border-bottom: 1px solid transparent;
}
window.org-gnome-TextEditor.language-dialog label.placeholder {
  min-height: 55px; /* 50px min-height + 2 padding top/bottom + 1 border */
  margin-left: 12px;
  margin-right: 12px;
  padding-left: 2px;
  padding-right: 2px;
}
