/* EditorPreferencesWindow */

.org-gnome-TextEditor.preferences frame {
  border-radius: 5px;
  background: @content_view_bg;
}
.org-gnome-TextEditor.preferences list {
  background: transparent;
}
.org-gnome-TextEditor.preferences list row {
  border-bottom: 1px solid alpha(@borders, .4);
}
.org-gnome-TextEditor.preferences list row:last-child {
  border-bottom: none;
}

.org-gnome-TextEditor.preferences .horizontal.linked .radio.text-button {
  padding: 0;
}
.org-gnome-TextEditor.preferences .horizontal.linked .radio.text-button label {
  padding: 4px 12px 4px 12px;
}


/* EditorWindow */
.org-gnome-TextEditor positionlabel label {
  font-feature-settings: "tnum";
}


/* EditorThemeSelector */
.org-gnome-TextEditor checkbutton.theme-selector {
  margin: 10px 1px 10px 1px;
  min-height: 42px;
  min-width: 42px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 9999px;
}
.org-gnome-TextEditor checkbutton.theme-selector.follow:checked,
.org-gnome-TextEditor checkbutton.theme-selector.light:checked,
.org-gnome-TextEditor checkbutton.theme-selector.dark:checked {
  border-color: @theme_selected_bg_color;
  border-width: 2px;
  margin: 9px 0 9px 0;
}
.org-gnome-TextEditor checkbutton.theme-selector.follow {
  background: linear-gradient(to bottom right, #fff 50%, #2e3436 50%);
  border-color: #2e3436;
}
.org-gnome-TextEditor.dark checkbutton.theme-selector.follow {
  border-color: #dcdddd;
}
.org-gnome-TextEditor checkbutton.theme-selector.light {
  background-color: #fff;
  border-color: #dcdddd;
}
.org-gnome-TextEditor checkbutton.theme-selector.dark {
  background-color: #2e3436;
  border-color: #000;
}
.org-gnome-TextEditor checkbutton.theme-selector radio {
  -gtk-icon-source: none;
  border: none;
  background: none;
  box-shadow: none;
  min-width: 12px;
  min-height: 12px;
  margin: 24px -4px -4px 24px;
  padding: 2px;
}
.org-gnome-TextEditor checkbutton.theme-selector radio:checked {
  -gtk-icon-source: -gtk-icontheme("object-select-symbolic");
  background-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
}


/* EditorOpenPopover */

.org-gnome-TextEditor .open-popover listview row {
  border-bottom: 1px solid alpha(@borders, 0.4);
}
.org-gnome-TextEditor .open-popover listview row:last-child {
  border-bottom: 1px solid transparent;
}
.org-gnome-TextEditor .open-popover listview row button {
  padding: 3px;
  margin: 0;
  min-height: 24px;
  min-width: 24px;
}


/* EditorSearchBar */

.org-gnome-TextEditor page .searchbar {
  background-image: linear-gradient(shade(@theme_bg_color,1.05), @theme_bg_color);
  padding: 6px;
  border-style: solid;
  border-color: @borders;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.09);
  margin: 0 10px 20px 10px;
}
.org-gnome-TextEditor page .searchbar:backdrop {
  box-shadow: none;
}
.org-gnome-TextEditor page .searchbar button.flat.circular {
  min-width: 24px;
  min-height: 24px;
  margin: 0px;
  padding: 3px;
}

textview.source-map slider {
  border-radius: 7px;
  margin: 0 3px;
}

textview.source-map {
  font-family: BuilderBlocks;
  font-size: 1.75pt;
  line-height: 5px;
}
textview.source-map:dir(ltr) {
  border-left: 1px solid @borders;
}
textview.source-map:dir(rtl) {
  border-right: 1px solid @borders;
}

flap > scrolledwindow.preferences > viewport {
  background: @theme_bg_color;
}

box.statusbar {
  font-family: monospace;
  min-width: 100px;
  padding: 3px 12px;
  background: @theme_bg_color;
  border-top: 1px solid @borders;
}
